html, body
{
   height: 100%;
}
div#space
{
   width: 1px;
   height: 50%;
   margin-bottom: -550px;
   float:left
}
div#container
{
   width: 994px;
   height: 1100px;
   margin: 0 auto;
   position: relative;
   clear: left;
}
body
{
   background-color: #FFFFFF;
   background-image: url('images/my_image.jpg');
   background-attachment: scroll;
   background-position: left top;
   background-repeat: repeat;
   color: #000000;
   font-family: Arial;
   font-weight: normal;
   font-size: 13px;
   line-height: 1.1875;
   margin: 0;
   padding: 0;
}
a
{
   color: #0000FF;
   text-decoration: underline;
}
a:visited
{
   color: #800080;
}
a:active
{
   color: #FF0000;
}
a:hover
{
   color: #0000FF;
   text-decoration: underline;
}
input:focus, textarea:focus, select:focus
{
   outline: none;
}
#g6_Form_2
{
   background-color: #C0C0C0;
   background-image: none;
   border: 0px solid #C0C0C0;
}
#Search_by_Name
{
   border: 0px solid #CCCCCC;
   border-radius: 4px;
   background-color: transparent;
   background-image: none;
   color: #4F4F4F;
   font-family: Arial;
   font-weight: bold;
   font-style: normal;
   font-size: 13px;
   padding: 4px 4px 4px 4px;
   margin: 0;
   text-align: left;
   vertical-align: top;
}
#Zones_Multicombo
{
   border: 1px solid #CCCCCC;
   border-radius: 4px;
   background-color: #FFFFFF;
   background-image: none;
   color: #7F7F7F;
   font-family: Arial;
   font-weight: normal;
   font-style: normal;
   font-size: 13px;
   padding: 4px 4px 4px 4px;
   margin: 0;
   box-sizing: border-box;
}
#Zones_Multicombo:focus
{
   border-color: #8B4513;
   box-shadow: inset 0px 1px 1px rgba(0,0,0,0.075), 0px 0px 8px rgba(139,69,19,0.60);
   outline: 0;
}
#Tree_Specific_Profile_
{
   border: 0px solid #CCCCCC;
   border-radius: 4px;
   background-color: transparent;
   background-image: none;
   color: #4F4F4F;
   font-family: Arial;
   font-weight: normal;
   font-style: normal;
   font-size: 13px;
   padding: 4px 4px 4px 4px;
   margin: 0;
   text-align: left;
   vertical-align: top;
}
#g6_RadioButton2
{
   margin: 0;
}
#g6_RadioButton2, #g6_RadioButton2 *, #g6_RadioButton2 *::before, #g6_RadioButton2 *::after
{
   box-sizing: border-box;
}
#g6_RadioButton2 input[type='radio']
{
   position: absolute;
   padding: 0;
   margin: 0;
   opacity: 0;
   z-index: 1;
   width: 20px;
   height: 20px;
   left: 0;
   top: 0;
}
#g6_RadioButton2 label
{
   display: inline-block;
   vertical-align: middle;
   position: absolute;
   left: 0;
   top: 0;
   width: 0;
   height: 0;
   padding: 0;
}
#g6_RadioButton2 label::before
{
   content: "";
   display: inline-block;
   position: absolute;
   width: 20px;
   height: 20px;
   left: 0;
   top: 0;
   background-color: #FFFFFF;
   border: 1px solid #CCCCCC;
   border-radius: 50%;
}
#g6_RadioButton2 label::after
{
   display: inline-block;
   position: absolute;
   width: 20px;
   height: 20px;
   left: 0;
   top: 0;
   padding: 0;
   text-align: center;
   line-height: 20px;
   border-radius: 50%;
   color: #FFFFFF;
   content: " ";
   -webkit-transform: scale(0, 0);
   transform: scale(0, 0);
}
#g6_RadioButton2 input[type='radio']:checked + label::after
{
   background-color: #A52A2A;
   background-image: none;
   border-color: #A52A2A;
   -webkit-transform: scale(0.8, 0.8);
   transform: scale(0.8, 0.8);
}
#g6_RadioButton2 input[type='radio']:focus + label::before
{
   outline: thin dotted;
}
#Zones_Submit
{
   box-sizing: border-box;
   line-height: 21px;
   text-decoration: none;
   vertical-align: top;
   border: 1px solid #2E6DA4;
   border-radius: 4px;
   background-color: #808080;
   background-image: none;
   color: #FFFFFF;
   font-family: Arial;
   font-weight: normal;
   font-style: normal;
   font-size: 13px;
   padding: 1px 6px 1px 6px;
   text-align: center;
   -webkit-appearance: none;
   margin: 0;
}
#Select_Preference
{
   border: 0px solid #CCCCCC;
   border-radius: 4px;
   background-color: transparent;
   background-image: none;
   color: #4F4F4F;
   font-family: Arial;
   font-weight: bold;
   font-style: normal;
   font-size: 13px;
   padding: 4px 4px 4px 4px;
   margin: 0;
   text-align: left;
   vertical-align: top;
}
#Environmental_Profile
{
   border: 0px solid #CCCCCC;
   border-radius: 4px;
   background-color: transparent;
   background-image: none;
   color: #4F4F4F;
   font-family: Arial;
   font-weight: normal;
   font-style: normal;
   font-size: 13px;
   padding: 4px 4px 4px 4px;
   margin: 0;
   text-align: left;
   vertical-align: top;
}
#g6_Form_1
{
   background-color: #C0C0C0;
   background-image: none;
   border: 0px solid #000000;
}
#Select_EDI
{
   border: 0px solid #CCCCCC;
   border-radius: 4px;
   background-color: transparent;
   background-image: none;
   color: #4F4F4F;
   font-family: Arial;
   font-weight: bold;
   font-style: normal;
   font-size: 13px;
   padding: 4px 4px 4px 4px;
   margin: 0;
   text-align: left;
   vertical-align: top;
}
#EDI_Combo
{
   border: 1px solid #CCCCCC;
   border-radius: 4px;
   background-color: #FFFFFF;
   background-image: none;
   color: #7F7F7F;
   font-family: Arial;
   font-weight: normal;
   font-style: normal;
   font-size: 13px;
   padding: 4px 4px 4px 4px;
   margin: 0;
   box-sizing: border-box;
}
#EDI_Combo:focus
{
   border-color: #8B4513;
   box-shadow: inset 0px 1px 1px rgba(0,0,0,0.075), 0px 0px 8px rgba(139,69,19,0.60);
   outline: 0;
}
#EDI_Submit
{
   box-sizing: border-box;
   line-height: 21px;
   text-decoration: none;
   vertical-align: top;
   border: 1px solid #2E6DA4;
   border-radius: 4px;
   background-color: #808080;
   background-image: none;
   color: #FFFFFF;
   font-family: Arial;
   font-weight: normal;
   font-style: normal;
   font-size: 13px;
   padding: 1px 6px 1px 6px;
   text-align: center;
   -webkit-appearance: none;
   margin: 0;
}
#EDIFrame1
{
   border: 0px solid #A9A9A9;
   background-color: #C0C0C0;
   background-image: url('images/icon.jpg');
   background-position: center;
   margin: 0;
}
#ZonesFrame2
{
   border: 0px solid #A9A9A9;
   background-color: #C0C0C0;
   background-image: url('images/icon2.jpg');
   background-position: center;
}
#g6_Text1 
{
   background-color: transparent;
   background-image: none;
   border: 0px solid #000000;
   padding: 0;
   margin: 0;
   text-align: left;
}
#g6_Text1 div
{
   text-align: left;
}
#Tree_Specific_Profile
{
   border: 0px solid #CCCCCC;
   border-radius: 4px;
   background-color: transparent;
   background-image: none;
   color: #4F4F4F;
   font-family: Arial;
   font-weight: normal;
   font-style: normal;
   font-size: 13px;
   padding: 4px 4px 4px 4px;
   margin: 0;
   text-align: left;
   vertical-align: top;
}
#Zonewise_Statistics
{
   border: 0px solid #CCCCCC;
   border-radius: 4px;
   background-color: transparent;
   background-image: none;
   color: #4F4F4F;
   font-family: Arial;
   font-weight: bold;
   font-style: normal;
   font-size: 20px;
   padding: 4px 4px 4px 4px;
   margin: 0;
   text-align: left;
   vertical-align: top;
}
#Demographic_Profile
{
   border: 0px solid #CCCCCC;
   border-radius: 4px;
   background-color: transparent;
   background-image: none;
   color: #4F4F4F;
   font-family: Arial;
   font-weight: normal;
   font-style: normal;
   font-size: 13px;
   padding: 4px 4px 4px 4px;
   margin: 0;
   text-align: left;
   vertical-align: top;
}
#g6_Text2 
{
   background-color: transparent;
   background-image: none;
   border: 0px solid #000000;
   padding: 0;
   margin: 0;
   text-align: left;
}
#g6_Text2 div
{
   text-align: left;
}
#g6_Text3 
{
   background-color: transparent;
   background-image: none;
   border: 0px solid #000000;
   padding: 0;
   margin: 0;
   text-align: left;
}
#g6_Text3 div
{
   text-align: left;
}
#g6_RadioButton4
{
   margin: 0;
}
#g6_RadioButton4, #g6_RadioButton4 *, #g6_RadioButton4 *::before, #g6_RadioButton4 *::after
{
   box-sizing: border-box;
}
#g6_RadioButton4 input[type='radio']
{
   position: absolute;
   padding: 0;
   margin: 0;
   opacity: 0;
   z-index: 1;
   width: 20px;
   height: 20px;
   left: 0;
   top: 0;
}
#g6_RadioButton4 label
{
   display: inline-block;
   vertical-align: middle;
   position: absolute;
   left: 0;
   top: 0;
   width: 0;
   height: 0;
   padding: 0;
}
#g6_RadioButton4 label::before
{
   content: "";
   display: inline-block;
   position: absolute;
   width: 20px;
   height: 20px;
   left: 0;
   top: 0;
   background-color: #FFFFFF;
   border: 1px solid #CCCCCC;
   border-radius: 50%;
}
#g6_RadioButton4 label::after
{
   display: inline-block;
   position: absolute;
   width: 20px;
   height: 20px;
   left: 0;
   top: 0;
   padding: 0;
   text-align: center;
   line-height: 20px;
   border-radius: 50%;
   color: #FFFFFF;
   content: " ";
   -webkit-transform: scale(0, 0);
   transform: scale(0, 0);
}
#g6_RadioButton4 input[type='radio']:checked + label::after
{
   background-color: #A52A2A;
   background-image: none;
   border-color: #A52A2A;
   -webkit-transform: scale(0.8, 0.8);
   transform: scale(0.8, 0.8);
}
#g6_RadioButton4 input[type='radio']:focus + label::before
{
   outline: thin dotted;
}
#g6_Text4 
{
   background-color: transparent;
   background-image: none;
   border: 0px solid #000000;
   padding: 0;
   margin: 0;
   text-align: left;
}
#g6_Text4 div
{
   text-align: left;
}
#g6_Text5 
{
   background-color: transparent;
   background-image: none;
   border: 0px solid #000000;
   padding: 0;
   margin: 0;
   text-align: left;
}
#g6_Text5 div
{
   text-align: left;
}
#g6_RadioButton1
{
   margin: 0;
}
#g6_RadioButton1, #g6_RadioButton1 *, #g6_RadioButton1 *::before, #g6_RadioButton1 *::after
{
   box-sizing: border-box;
}
#g6_RadioButton1 input[type='radio']
{
   position: absolute;
   padding: 0;
   margin: 0;
   opacity: 0;
   z-index: 1;
   width: 20px;
   height: 20px;
   left: 0;
   top: 0;
}
#g6_RadioButton1 label
{
   display: inline-block;
   vertical-align: middle;
   position: absolute;
   left: 0;
   top: 0;
   width: 0;
   height: 0;
   padding: 0;
}
#g6_RadioButton1 label::before
{
   content: "";
   display: inline-block;
   position: absolute;
   width: 20px;
   height: 20px;
   left: 0;
   top: 0;
   background-color: #FFFFFF;
   border: 1px solid #CCCCCC;
   border-radius: 50%;
}
#g6_RadioButton1 label::after
{
   display: inline-block;
   position: absolute;
   width: 20px;
   height: 20px;
   left: 0;
   top: 0;
   padding: 0;
   text-align: center;
   line-height: 20px;
   border-radius: 50%;
   color: #FFFFFF;
   content: " ";
   -webkit-transform: scale(0, 0);
   transform: scale(0, 0);
}
#g6_RadioButton1 input[type='radio']:checked + label::after
{
   background-color: #A52A2A;
   background-image: none;
   border-color: #A52A2A;
   -webkit-transform: scale(0.8, 0.8);
   transform: scale(0.8, 0.8);
}
#g6_RadioButton1 input[type='radio']:focus + label::before
{
   outline: thin dotted;
}
#g6_RadioButton3
{
   margin: 0;
}
#g6_RadioButton3, #g6_RadioButton3 *, #g6_RadioButton3 *::before, #g6_RadioButton3 *::after
{
   box-sizing: border-box;
}
#g6_RadioButton3 input[type='radio']
{
   position: absolute;
   padding: 0;
   margin: 0;
   opacity: 0;
   z-index: 1;
   width: 20px;
   height: 20px;
   left: 0;
   top: 0;
}
#g6_RadioButton3 label
{
   display: inline-block;
   vertical-align: middle;
   position: absolute;
   left: 0;
   top: 0;
   width: 0;
   height: 0;
   padding: 0;
}
#g6_RadioButton3 label::before
{
   content: "";
   display: inline-block;
   position: absolute;
   width: 20px;
   height: 20px;
   left: 0;
   top: 0;
   background-color: #FFFFFF;
   border: 1px solid #CCCCCC;
   border-radius: 50%;
}
#g6_RadioButton3 label::after
{
   display: inline-block;
   position: absolute;
   width: 20px;
   height: 20px;
   left: 0;
   top: 0;
   padding: 0;
   text-align: center;
   line-height: 20px;
   border-radius: 50%;
   color: #FFFFFF;
   content: " ";
   -webkit-transform: scale(0, 0);
   transform: scale(0, 0);
}
#g6_RadioButton3 input[type='radio']:checked + label::after
{
   background-color: #A52A2A;
   background-image: none;
   border-color: #A52A2A;
   -webkit-transform: scale(0.8, 0.8);
   transform: scale(0.8, 0.8);
}
#g6_RadioButton3 input[type='radio']:focus + label::before
{
   outline: thin dotted;
}
