@charset "UTF-8";

/* -------------------------------------- */
/* BASIC SETUP */
/* -------------------------------------- */

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    background-color: #fff;
    color: #5a5a5a;
    text-rendering: optimizeLegibility;
    background-image: linear-gradient(rgba(0, 0, 0, 0.40),rgba(0, 0, 0, 0.40)), url(headbackground.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed;
    height: 100vh;
}

body {
	width: 100%; height: 100%; margin: 0; 
}

#mapid {
	margin-top: 5px;
	hei
	float:left;
}

#mapid2 {
	margin-top: 5px;
	background-size: cover;
}

/* -------------------------------------- */
/* REUSABLE COMPONENTS */
/* -------------------------------------- */
ul.main-nav {
  font-family: monospace;
  font-size: 18px;
  
}

.row {
    max-width: 100;
    margin: auto;
}

section {
    padding: 10px 0px 20px 0px;
}


/* ------ HEADINGS ------ */



h1 {
    font-size: 250%;
    margin-top: 0;
    margin-bottom: 4px;
    color: #fff;
    word-spacing: 4px;
    letter-spacing: 1px;
    text-transform: uppercase;
    font-weight: 100;
}

h2 {
    font-size: 180%;
    text-align: center;
    word-spacing: 3px;
    margin-bottom: 0px;
    letter-spacing: 1px;
    color: #f2f3f4;
    text-align: center;
    font-family: "Bahnschrift Light";
    font-weight: 100;
    text-transform: uppercase;
    padding: 20px 20px 20px 20px;
}

h3 {
    font-size: 100%;
    margin-bottom: 15px;
    padding: 0px 0px 0px 0px;
    color: #f2f3f4;
    text-align: center;
    font-family: "Bahnschrift";
    font-weight: 100;
}

h2:after {
    display: block;
    height: 2px;
    background-color: #404040;
    content: " ";
    width: 200px;
    margin: 0 auto;
    margin-top: 300px;
}



/* ------ PARAGRAPHS ------ */

.long-para {
    line-height: 145%;
    width: 80%;
    margin-left: 10%;
    margin-right: 10%;
}

/* ------ ICONS ------ */

.icon-big {
    font-size: 270%;
    display: block;
    color: #e67e22;
    margin-bottom: 10px;
    text-align: center;
}

/* ------ BUTTONS ------ */

button{
  background-color: #585858;
  border: none;
  color: white;
  padding: 15px 32px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  margin: 4px 2px;
  cursor: pointer;

}
button:hover {
  cursor: pointer;
}

.btn-select-full,
.btn-select {
  padding: 10px 10px;
  font-weight: 300;
  font-size: 90%;
  text-decoration: none;
  border-radius: 300px;
  text-align: center;
  left: 12px;
}

.btn-select-full {
  background-color: #e67e22;
  color: #fff;
  border: 1px solid #e67e22;
  text-align: center;
}

.btn-select {
  background-color: #fff;
  color: #000
  border: 1px solid #000;
  text-align: center;

}

.btn-select-full:hover {
  color: #fff;
  background-color: #fff;
  transition: background-color 0.2s, color 0.2s;
  text-align: center;
}

.btn-select:hover {
    background-color: #e67e22;
    color: #fff;
    border: 1px solid #00B300;
    transition: background-color 0.2s, color 0.2s;
    text-align: center;
}

.btn-ghost {
  margin-top: 30px;
}

.btn:link,
.btn:visited {
    display: inline-block;
    padding: 10px 30px;
    font-weight: 300;
    text-decoration: none;
    border-radius: 200px;
    transition: background-color 0.2s, border 0.2s, color 0.2s;
}

.btn-full:link,
.btn-full:visited {
    background-color: #e67e22;
    border: 1px solid #e67e22;
    color: #fff;
    margin-right: 15px;
}

.btn-ghost:link,
.btn-ghost:visited {
    border: 1px solid #e67e22;
    color: #e67e22;
}

.btn:hover,
.btn:active {
    background-color: #00B300;
}

.btn-full:hover,
.btn-full:active {
    border: 1px solid #cf6d17;
}

.btn-ghost:hover,
.btn-ghost:active {
    border: 1px solid #cf6d17;
    color: #fff;
}

.disp-col {
  background-color: #e67e22;
  color: #fff;
  cursor: default;
  padding: 5px;
  width: 100%;
  border: none;
  text-align: left;
  outline: none;
  font-size: 15px;
}




/* -------------------------------------- */
/* HEADER SET UP */
/* -------------------------------------- */

.small-header {
  background-image: linear-gradient(rgba(0, 0, 0, 0.40),rgba(0, 0, 0, 0.40)), url(headbackground.jpg);
  background-size: cover;
  height: 0vh;
}



.logo {
    height: 60px;
    width: auto;
    float: left;
    margin-top: 5px;
    margin-left: 20px;
	margin-bottom: 5px;
}

.main-nav {
    float: right;
    list-style: none;
    margin-top: 25px;
	margin-right:10px;
	
}

.main-nav li {
    display: inline-block;
    margin-left: 50px;
	background-color: rgba(0, 0, 0, 0.4);
}

.main-nav li a:link,
.main-nav li a:visited {
    padding: 8px 0px;
    color: #fff;
    text-decoration: none;
    text-transform: uppercase;
    font-size: 90%;
    border-bottom: 2px solid transparent;
    border-top: 2px solid transparent;
    transition: border-bottom 0.2s;
}

.main-nav li a:hover,
.main-nav li a:active {
    border-bottom: 2px solid #00008B;
    border-top: 2px solid #00FF00;
}

/* -----------------------------------
----------- MAP SET UP ---------------
-------------------------------------*/

.map-placement {
  margin-left: 20%;
  margin-right: 20%;
  width: 100%;
}

.zoom {
  transition: transform 1s;
}

.zoom:hover {
  fill: #00B300;
  cursor: pointer;
}

.svg-class {
  margin-top: 18px;
}

.legend-box {
  border: 1.4px solid #aaa
}

.legend-box p {
  text-align: center;
}

/* -------------------------------------- */
/*--------- RESULTS SET UP ---------------*/
/* -------------------------------------- */
.text-right {
  text-align: right !important;
}
.mt-0,
.my-0 {
  margin-top: 0 !important;
}
.col-11 {
  position: relative;
  width: 100%;
  padding-right: 15px;
  padding-left: 15px;
}
.site-content-section {
    display: grid;
    margin: 0 0 0 0;
    padding: 10 10 10 10;
	background-color: rgba(0, 0, 0, 0.8);

    width: calc(100vw - 0px);
    position: relative;
	top: 0px;
	grid-template-columns: repeat(12, 1fr);
}

.site-content-item-1 {
    grid-column: 1 / span 4;
    width: 100%;
}

.site-content-item-2 {
    grid-column: 5 / span 11;
    width: 100%;
	position: relative;
	top: 0px;
}


